/* add css here */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Jost";
}

/* MAIN BODY AND WRAPPER */
body {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
}

.wrapper {
    margin-top: 32px;
    /* max-width: 475px; max-width makes my form smaller? */
    width: 475px;
    padding: 24px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
}


/* TITLE, INPUT BOX */
.formTitle {
    font-size: 2.4em;
    font-weight: bold;
    margin-bottom: 24px;
    text-align: center;
}


.fillPart {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.label {
    font-weight: bold;
    padding-right: 8px;
}

.input {
    border: 2.7px lightgray solid;
    border-radius: 5px;
    width: 200px;
}

.input:focus {
    border: blue 1px solid;
    box-shadow: 0px 0px 5px 0px blue;
    outline: none;
}


.info {
    margin-bottom: 8px;
}

/* ToS and Error */

.term {
    margin: 50px 0;
    padding: 10px 30px;
    border-radius: 5px;
    text-align: center;
    background-color: #f2f2f2;
    font-weight: bold;
}

.error {
    background-color: hsla(333deg, 100%, 44%, 0.25);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 40px;
    display: none;
}

.errorAdd {
    border: solid 4px hsla(333deg, 100%, 44%, 0.25);
}


/* BUTTONS */

.btnAll {
    display: flex;
    justify-content: space-between;
}

button {
    color: white;
    border-radius: 5px;
    padding: 10px 35px;
    font-size: 1.1rem;
    font-weight: 550;
}

.btnClear {
    background-color: hsl(333deg, 100%, 44%);
}

.btnSubmit {
    background-color: hsl(256deg, 100%, 44%);
}